<div class="contact">
  <div class="section">
    <div class="container">
      <div class="row mt-3">
        <div class="col-12">
          <div class="intro-section mb-5 text-center">
            <h1 class="fw-bold">Contact Me</h1>
            <p class="mx-auto">
              There are many variations of passages of Lorem Ipsum available but
              the majority have suffered alteration in some form by injected
              humour
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="Card col-md-4 g-3">
          <a aria-label="tell" href="tel:+963988021203">
            <div class="p-4 border-hover shadow rounded-5 text-center">
              <div class="icon">
                <i class="ri-phone-fill text-info fs-2"></i>
              </div>
              <div class="info">
                <h3 class="text-info fs-1">Phone</h3>
                <p class="d-flex justify-content-center align-items-center">
                  +963 - 988 021 203
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="Card col-md-4 g-3">
          <a aria-label="email" href="mailto:mhd.rabea.naser@gmail.com">
            <div class="p-4 border-hover shadow rounded-5 text-center">
              <div class="icon">
                <i class="ri-mail-add-fill text-info fs-2"></i>
              </div>
              <div class="info">
                <h3 class="text-info fs-1">Email</h3>
                <p class="d-flex justify-content-center align-items-center">
                  mhd.rabea.naser@gmail.com
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <footer class="py-5 bg-info text-white">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-4 mb-1 text-center">
          <p class="mb-0">Theme designed by Mhd.</p>
        </div>
        <div class="col-md-6 text-center mb-1">
          <a
            aria-label="facebook"
            href="https://www.facebook.com/sefo.na/"
            class="btn btn-outline-info btn-icon ms-2"
            ><i class="ri-facebook-box-fill"></i
          ></a>
          <a
            aria-label="email"
            href="mailto:mhd.rabea.naser@gmail.com"
            class="btn btn-outline-info btn-icon ms-2"
            ><i class="ri-google-fill"></i
          ></a>
          <a
            aria-label="insta"
            href="https://www.instagram.com/sefo.naser/"
            class="btn btn-outline-info btn-icon ms-2"
            ><i class="ri-instagram-fill"></i
          ></a>
          <a
            aria-label="Phone"
            href="tel:+963988021203"
            class="btn btn-outline-info btn-icon ms-2"
            ><i class="ri-whatsapp-fill"></i
          ></a>
        </div>
      </div>
    </div>
  </footer>
</div>
