<div class="section-padding divder" id="Home">
  <div class="container mt-2">
    <div class="row align-items-center gy-4">
      <div class="col-lg-5 box">
        <img
          src="../../../assets/images/hero.png"
          class="img-fluid"
          alt="hero"
        />
      </div>
      <div class="col-lg-7 text-center">
        <h1 class="fw-bold display-4">
          I AM A CREATIVE <br />
          <p class="text-info" id="hero-typed"></p>
        </h1>
        <p class="fw-bold mb-4">
          I am passionate about continuous learning in the field of web
          technology.<br />
          If you are looking for a front-end developer who provides innovation
          and quality,<br />
          I am here to help ..
        </p>
        <a
          aria-label="link"
          [routerLink]="['/work']"
          class="btn btn-outline-info me-2"
        >
          My Work</a
        >
        <a
          aria-label="work"
          href="https://drive.usercontent.google.com/download?id=1Vlblt-e1olGC6sFdiZ1xgirw61i7o5Pp&export=download&authuser=0&confirm=t&uuid=99bc4c4d-ff6e-4e41-a8e1-b9df5f81b31a&at=APZUnTWrnKpKnOsV39G3t_fOmyZi:1698702383253"
          class="btn btn-info"
          >My-Cv</a
        >
      </div>
    </div>
  </div>
</div>
