<div class="section-padding mt-5">
  <div class="container">
    <div class="row align-items-center mt-4">
      <div class="col-lg-5 box text-center">
        <img
          src="../../../assets/images/hero.png"
          class="img-fluid"
          alt="hero"
        />
      </div>
      <div class="col-lg-7 text-center mt-4">
        <h1 class="fw-bold display-4">
          I AM A CREATIVE <br />
          <p class="text-info" id="hero-typed">Web Developer</p>
        </h1>
        <p class="fw-bold mb-4">
          I am passionate about continuous learning in the field of web
          technology.<br />
          If you are looking for a front-end developer who provides innovation
          and quality,<br />
          I am here to help ..
        </p>
        <a
          aria-label="link"
          [routerLink]="['/work']"
          class="btn btn-outline-info me-2"
        >
          My Work</a
        >
        <a
          aria-label="work"
          href="https://drive.usercontent.google.com/download?id=1Vlblt-e1olGC6sFdiZ1xgirw61i7o5Pp&export=download&authuser=0&confirm=t&uuid=97ad9b89-cf04-4e21-8799-5203ad2787c1&at=APZUnTUyEU3jNiHEoVIEkeEUZJKw:1699095171763"
          class="btn btn-info"
          >My-Cv</a
        >
      </div>
    </div>
  </div>
</div>
