.image {
  position: relative;
  overflow: hidden;
}
.image .overlay {
  background-color: rgba(91, 99, 244, 0.87);
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10%;
  left: 0;
  transition: 0.5s;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.image .overlay i {
  font-size: 32px;
}
.box:hover .overlay {
  opacity: 1;
  top: 0;
}
