<div class="section-padding">
  <div class="container">
    <div class="row gy-5 mt-1">
      <div class="col-12">
        <div class="intro-section mb-5 mt-1 text-center">
          <h1 class="fw-bold">My Services</h1>
          <p class="mx-auto">
            We provide creative, high-quality services and are committed to
            providing an innovative product that meets the highest standards
          </p>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-md-6 col-lg-4">
        <div class="p-4 border-hover shadow rounded-5 text-center">
          <div class="img-wrapper">
            <img
              src="https://i.ibb.co/3BrVHZM/development.webp"
              class="img-fluid rounded-5 mb-3 w-50"
              alt="pro-01"
            />
          </div>

          <h5><span class="badge bg-info">Web Development</span></h5>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="p-4 border-hover shadow rounded-5 text-center">
          <div class="img-wrapper">
            <img
              src="https://i.ibb.co/KhBc02w/dis.webp"
              class="img-fluid rounded-5 mb-3 w-50"
              alt="pro-01"
            />
          </div>

          <h5><span class="badge bg-info">Web Designing</span></h5>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="p-4 border-hover shadow rounded-5 text-center">
          <div class="img-wrapper">
            <img
              src="https://i.ibb.co/g9ZRSnv/fix.webp"
              class="img-fluid rounded-5 mb-3 w-50"
              alt="pro-01"
            />
          </div>

          <h5><span class="badge bg-info">Fixing Issues</span></h5>
        </div>
      </div>
    </div>
  </div>
</div>
